/.svn
/cmd
/libs
/pfm/android/default/.gradle
/pfm/android/default/.idea
/pfm/android/default/app/.externalNativeBuild
/pfm/android/default/app/build
/pfm/android/default/app/src/main/assets
/pfm/android/default/build
/pfm/android/default/gradle
/pfm/android/default/android.iml
/pfm/android/default/app/app.iml
/pfm/android/default/gradlew.bat
/pfm/android/default/gradlew
/pfm/android/default/local.properties
/pfm/android/private
/pfm/android.adt
/pfm/msvc/msvc-2013/debug
/pfm/msvc/msvc-2013/ipch
/pfm/msvc/msvc-2013/appplex.opensdf
/pfm/msvc/msvc-2013/appplex.sdf
/pfm/msvc/msvc-2013/appplex.v12.suo
/pfm/msvc/msvc-2015/.vs
/pfm/msvc/msvc-2015/debug
/pfm/msvc/msvc-2015/ipch
/pfm/msvc/msvc-2015/appplex.opensdf
/pfm/msvc/msvc-2015/appplex.sdf
/pfm/msvc/msvc-2015/appplex.v12.suo
/pfm/msvc/msvc-2015/appplex.VC.db
/pfm/msvc/msvc-2015/appplex.VC.opendb
/pfm/msvc/msvc-2015/appplex.VC.VC.opendb
/pfm/msvc/msvc-2017
/pfm/msvc/msvc-2017/.vs
/pfm/msvc/msvc-2017/debug
/pfm/msvc/msvc-2017/ipch
/pfm/msvc/appplex.exe
/pfm/msvc/appplex.exp
/pfm/msvc/appplex.lib
/pfm/msvc/appplex.ilk
/pfm/appplex.exe
/pfm/appplex.exp
/pfm/appplex.ilk
/pfm/appplex.lib
/src/app/min/appplex-conf.hpp
/src/app/min/appplex-conf.cpp

/pfm/msvc/proj
/pfm/emscripten/build
/pfm/emscripten/lib-src
/pfm/emscripten/prj
/pfm/emscripten/src/res
